<div class="container">
  <div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <select  name="slct" id="slct"  [(ngModel)] = "selectedFilter" class="selectType browser-default custom-select" >
                <option *ngFor="let filter of filters" [ngValue]="filter">{{filter}}</option>
            </select>
          </div>
       
      <!-- <div class="select">
        <select name="slct" id="slct" [(ngModel)] = "selectedFilter" >
          <option *ngFor="let filter of filters" [ngValue]="filter">{{filter}}</option>
        </select>
      </div> -->
    </div>
   
    <div class="form-group has-search col-md-5">
        <span class="fa fa-search form-control-feedback"></span>
        <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Search">
      </div>
  </div>
 
  <div class="row gridRow">
    <div class="col-md-4 gridCol" *ngFor="let student of onboardingService.students.value | filter:searchText | selectfilter:selectedFilter">
      <div class="card" style="width: 18rem;">
          <div class="card-header list-header pb-0">
              <h4 class="card-title">{{student.name}} <span class="age">({{student.dateOfBirth|dateToAge}})</span></h4>
            </div>
        <!-- <img class="card-img-top imgCard" src="assets/images/student.png" alt="Card image cap"> -->
        <div class="card-body list-body">
          <div class="categoryDomestic" *ngIf="student.category === 'Domestic'">{{student.category}}</div>
          <div class="categoryInternational" *ngIf="student.category === 'International'">{{student.category}}</div>
          <div class="card-text details">
            <div><span class="label">Father's Name</span> : {{student.fatherName}}</div>
            <div><span class="label">Mother's Name</span> : {{student.motherName}}</div>
            <div><span class="label">Last Year Marks</span> : {{student.lastMarks}}%</div>

          </div>
          <button class="btn btn-outline-primary handlerButton" (click)="editHandler(student.id)"><i class="fa fa-edit"></i> Edit</button>
          &nbsp;
          <button class="btn btn-outline-primary handlerButton" (click)="viewHandler(student.id)"><i class="fa fa-eye"></i> View</button>
          &nbsp;
          <button class="btn btn-outline-primary handlerButton" (click)="deleteHandler(student.id)"><i class="fa fa-trash"></i> Delete</button>

        </div>
      </div>
    </div>
  </div>
</div>
