<div class="container login-container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 login-form">
      <h5 class="error-message">{{errorMessage}}</h5>
      <h4 class="text-center new-account">Welcome to Student Onboarding Portal</h4>
      <div class="account-wall">
        <img class="profile-img"
          src="assets/images/student2.png"
          alt="">
          <h3 style="text-align: center">Please Sign In</h3>
          <!-- <img src="assets/images/image-1.png" alt="" class="image-1"> -->
        <form #loginform="ngForm" class="form-signin" (ngSubmit)="onSubmit($event)">
          <input type="text" class="form-control"  name="username" placeholder="Username" #username="ngModel"
            [class.is-invalid]="username.invalid && username.touched" [(ngModel)]="userModel.username"
            required >
          <small class="text-danger" [class.d-none]="username.valid || username.untouched">Username is required</small>
          <br>
          <input type="password" class="form-control" placeholder="Password" #password = "ngModel" name="password" [(ngModel)]="userModel.password"  required>
          <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small>
          <br>
          <button class="btn btn-lg btn-primary btn-block" [disabled]="loginform.form.invalid" type="submit">
            Sign in</button>
        </form>
        <!-- <img src="assets/images/image-2.png" alt="" class="image-2"> -->
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-dark bg-primary mt-5 fixed-bottom">
    <div class="navbar-expand m-auto navbar-text">
      Made by <a href="https://github.com/ayush1035">Ayush 3145844</a>&nbsp; <i class="fa fa-copyright"></i>
    </div>
  </nav>
